<!doctype html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>dcyd</title>
  <link rel='stylesheet' href='/stylesheets/main.css'>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>
  <header>
    <h1>dcyd</h1>
    <nav>
    <a href='/sign_up'>Sign Up</a>
    <a href='/login'>Login</a>
    </nav>
  </header>
  <%= yield %>

</body>
</html>
