<!doctype html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>dcyd</title>
  <link rel='stylesheet' href='./stylesheets/main.css'>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>
  <div class="container">
    <header class='header'>
      <h1><a href='/'>dcyd</a></h1>
      <nav>
      <% if is_logged_in? %>
        Welcome, <%= current_user["user_name"]%>
        <form action="/sessions" method="POST">
          <input type="hidden" name="_method" value="DELETE" />
          <input type="submit" value="Log Out" />
        </form>
        <a href='/posts'>View posts</a>
        <a href='/create'>Create post</a>
      <% else %>
        <a href="/login">Log in</a>
        <a href="/sign_up">Sign up</a>
      <% end %>
      </nav>
    </header>
    <% if is_logged_in? %>
      <%= yield %>
    <% else %>
      <p>Please login to access this page</p>
      <a href="/login">Log in</a>
    <% end %>
  </div>
</body>
</html>
