body {
  background-color: rgb(158, 157, 157);
}

.header {
  display: flex;
  flex-direction: column;
  align-content: center;
  justify-content: center;
  border-bottom: 2px solid rgb(72, 72, 72);
}
