<section class="create_post">
  <% if is_logged_in?%>
  <h2>What do you need help deciding?</h2>
    <form action="/create_post" method="POST">
    <div>
      <label for="title">
        <input type="text" name="title" placeholder="Enter question title"/>
      </label>
    </div>

    <div>
      <label for="main_text">
        <textarea class="text_area" type="text" name="main_text" placeholder="Enter question details"></textarea>
      </label>
    </div>

      <input id="input_button" type="submit" value="dcyd!" />
  </form>
  <% else %>
    <p>Please login to access this page</p>
    <a href="/login">Log in</a>
  <% end %>
</section>